body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  height: 100%;
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: rgb(105,105,255);
  background: linear-gradient(0deg, rgba(105,105,255,1) 8%,
   rgba(187,85,200,1) 79%, rgba(199,57,162,0.9164915966386554) 100%);
}

.canvas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 630px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 8px 0px rgba(16, 29, 40, 0.2);
  flex-direction: column;
  padding: 20px;
}

.title_desc {
  font-size: 32px;
  text-align: center;
  margin-bottom: 15px;
  color: #222;
}

.title2_desc {
  color: #6c757d;
  text-align: center;
}

.filed_label {
  color: #222;
  margin-right: 10px;
}

.field_input {
  padding: 10px;
  width: 150px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.field_btn {
  padding: 10px;
  border: 1px solid #ccc;
}